<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/uikit.css">
    <link rel="stylesheet" href="js/plugins/selectric/selectric.css">
    <link rel="stylesheet" href="js/plugins/vegas/vegas.min.css">

    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Off-canvas Navigation -->
    <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip ">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                <li> 
                    <a href="#select-language" class="uk-button-link uk-button" data-uk-modal><img src="images/flags/United-states-flag.png" alt="" class="uk-margin-small-right">English</a>
                </li>
                <div class="uk-nav-divider"></div>
                <li><a href="#signin_form" data-uk-modal>Sign In</a></li>
                <li><a href="select-category.html">Post an Ad</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="">About us</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- Header starts -->
    <header>
        <nav class="uk-navbar">
            <div class="uk-container uk-container-center">
                <a href="" class="uk-navbar-brand uk-width-large-2-10 uk-width-medium-3-10 uk-width-small-4-10"><img src="images/logo-large.png" alt="" class="uk-hidden-small"><img src="images/logo-small.png" alt="" class="uk-visible-small"></a>
                <div class="uk-navbar-content language uk-hidden-small ">
                    <a href="#select-language" class="uk-button-link uk-button" data-uk-modal><img src="images/flags/United-states-flag.png" alt="" class="uk-margin-small-right">English</a></div>
                <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
                    <a class="uk-button uk-button-large uk-margin-small-right" href="#signin_form" data-uk-modal><span >Sign in</span></a>

                    <a class="uk-button uk-button-large uk-button-success" href="select-category.html">Post an Ad</a>
                </div>
                <a href="#my-id" data-uk-offcanvas class="uk-visible-small off-canvas-btn uk-float-right uk-button-link uk-button uk-button-large"><i class="uk-icon-bars"></i></a>
            </div>
        </nav>
    </header>

    <!-- Search bar starts -->
    <div class="main-search">
            <div class="uk-container uk-container-center">
                <div class="uk-block">
                    <form class="search-container">
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-medium-1-4 uk-width-small-1-1">
                                <select class="uk-form">
                                    <option value="1">All Category</option>
                                    <option value="2">Vehicles</option>
                                    <option value="3">For Rrent</option>
                                    <option value="4">Pets</option>
                                    <option value="5">Services</option>
                                    <option value="6">Real Estate</option>
                                    <option value="7">Jobs</option>
                                    <option value="8">Community</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-4-10 uk-width-small-1-1" data-uk-search>
                                <input class="keyword-input" id="keyword" type="search" placeholder="Type a keyword">
                            </div>
                            <div class="uk-width-medium-1-4 uk-width-small-1-1 uk-form-icon" data-uk-search>
                                <i class="uk-icon-map-marker"></i>
                                <input class="location-input" id="location" type="search" placeholder="India">
                            </div>
                            <div class="uk-width-medium-1-10 uk-small-medium-1-1" data-uk-search>
                                <input type="submit" name="submit" value="Search" id="submit-search" class="loc-search uk-button-primary uk-button-large uk-button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div> 

    <div class="uk-panel uk-panel-box uk-margin-bottom">
       <div class="uk-container uk-container-center">
            <!-- Breadcrumb -->
           <ul class="uk-breadcrumb uk-margin-remove">
                <li><a href="index.html">Home</a></li>
                <li><span>Automotive</span></li>
            </ul>
       </div>
    </div>

    <!-- Featured Listing -->
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-large-2-10 uk-width-medium-3-10 uk-hidden-small sub-categories-menu">
                <ul class="uk-list uk-list-space">
                    <h5 class="text-bold">Browse Categories</h5>
                    <li><a href="sub-category.html"><i class="uk-icon-caret-right uk-margin-right"></i>Bikes</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Automotive Items</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Boats & Watercraft</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Cars</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Classic Cars</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Commercial Trucks</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Motorcycles</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Off Road Vehicles</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>RV & Motorhomes</a></li>
                    <li><a href=""><i class="uk-icon-caret-right uk-margin-right"></i>Trucks</a></li>
                </ul>
            </div>

            <div class="uk-width-large-8-10 uk-width-medium-7-10">
                <h3 class="text-bolder">Listings for Automotive</h3>
                <!-- Sponsors ads -->
                <div class="uk-panel uk-panel-box sponsors-container">
                    <div data-uk-slideset="{small: 2, medium: 2, large: 4}">
                        <div class="uk-slidenav-position uk-slidenav-custom">
                            <span class="uk-h5">Sponsors</span>
                            <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                            <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
                        </div>
                        <ul class="uk-grid uk-slideset">
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""> <img src="images/featured/1.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/2.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/3.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/4.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/5.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/6.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/7.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                            <li>
                                <div class="uk-panel uk-panel-box">
                                    <div class="uk-panel-teaser">
                                        <a href=""><img src="images/featured/1.jpg" alt=""></a>
                                    </div>
                                    <span class="uk-text-danger uk-text-bold uk-text-small">20 USD</span>
                                    <h5 class="uk-margin-top-remove"><a href=""> Handmade Old Style Multicolor</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Cateogry listing -->
                <div class="uk-block">
                    <div class="listings uk-grid">
                        <div class="uk-width-medium-2-10 uk-width-small-3-10">
                            <a class="uk-thumbnail" href="#"><img src="images/featured/1.jpg" alt=""></a>
                        </div>
                         <div class="uk-width-medium-7-10 uk-width-small-5-10">
                            <h5 class="text-bold"><a href="">Used 1970 Maruti Suzuki 800 AC for sale.</a> </h5>
                            <p>Sed dignissim, ex id tempor varius, metus enim pellentesque mi, non varius sem dui vel diam. Duis elementum malesuada ante sit amet posuere</p>
                        </div>
                        <div class="uk-width-medium-1-10 uk-width-small-2-10 uk-text-middle">
                           50 $
                        </div>
                    </div>
                    <div class="listings uk-grid">
                        <div class="uk-width-medium-2-10 uk-width-small-3-10">
                            <a class="uk-thumbnail" href="#"><img src="images/featured/1.jpg" alt=""></a>
                        </div>
                         <div class="uk-width-medium-7-10 uk-width-small-5-10">
                            <h5 class="text-bold"><a href="">Used 1970 Maruti Suzuki 800 AC for sale.</a></h5>
                            <p>Sed dignissim, ex id tempor varius, metus enim pellentesque mi, non varius sem dui vel diam. Duis elementum malesuada ante sit amet posuere</p>
                        </div>
                        <div class="uk-width-medium-1-10 uk-width-small-2-10">
                           50 $
                        </div>
                    </div>
                    <div class="listings uk-grid">
                        <div class="uk-width-medium-2-10 uk-width-small-3-10">
                            <a class="uk-thumbnail" href="#"><img src="images/featured/1.jpg" alt=""></a>
                        </div>
                         <div class="uk-width-medium-7-10 uk-width-small-5-10">
                            <h5 class="text-bold"><a href="">Used 1970 Maruti Suzuki 800 AC for sale.</a></h5>
                            <p>Sed dignissim, ex id tempor varius, metus enim pellentesque mi, non varius sem dui vel diam. Duis elementum malesuada ante sit amet posuere</p>
                        </div>
                        <div class="uk-width-medium-1-10 uk-width-small-2-10">
                           50 $
                        </div>
                    </div>
                </div>
                <ul class="uk-pagination ">
                    <li><a href="">1</a></li>
                    <li class="uk-active"><span>2</span></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="footer" class="uk-container uk-container-center uk-text-center">
            <ul class="uk-list">
                <li><a href="">About us</a></li> |
                <li><a href="">Help</a></li> |
                <li><a href="">Privacy policy</a></li> |
                <li><a href="">Terms of use</a></li> |
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </footer>

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/plugins/selectric/jquery.selectric.min.js"></script>
    <script src="js/components/grid.js"></script>
    <script src="js/components/slideset.js"></script>
    <script src="js/plugins/vegas/vegas.min.js"></script>


    <script src="js/main.js"></script>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>