<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/uikit.css">
    <link rel="stylesheet" href="js/plugins/selectric/selectric.css">

    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Off-canvas Navigation -->
    <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip ">
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                <li> 
                    <a href="#select-language" class="uk-button-link uk-button" data-uk-modal><img src="images/flags/United-states-flag.png" alt="" class="uk-margin-small-right">English</a>
                </li>
                <div class="uk-nav-divider"></div>
                <li><a href="#signin_form" data-uk-modal>Sign In</a></li>
                <li><a href="select-category.html">Post an Ad</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="">About us</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- Header starts -->
    <header>
        <nav class="uk-navbar">
            <div class="uk-container uk-container-center">
                <a href="" class="uk-navbar-brand uk-width-large-2-10 uk-width-medium-3-10 uk-width-small-4-10"><img src="images/logo-large.png" alt="" class="uk-hidden-small"><img src="images/logo-small.png" alt="" class="uk-visible-small"></a>
                <div class="uk-navbar-content language uk-hidden-small ">
                    <a href="#select-language" class="uk-button-link uk-button" data-uk-modal><img src="images/flags/United-states-flag.png" alt="" class="uk-margin-small-right">English</a></div>
                <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
                    <a class="uk-button uk-button-large uk-margin-small-right" href="#signin_form" data-uk-modal><span >Sign in</span></a>

                    <a class="uk-button uk-button-large uk-button-success" href="select-category.html">Post an Ad</a>
                </div>
                <a href="#my-id" data-uk-offcanvas class="uk-visible-small off-canvas-btn uk-float-right uk-button-link uk-button uk-button-large"><i class="uk-icon-bars"></i></a>
            </div>
        </nav>
    </header>
    <div class="uk-panel uk-panel-box uk-margin-bottom">
       <div class="uk-container uk-container-center">
            <!-- Breadcrumb -->
            <ul class="uk-breadcrumb uk-margin-remove">
                <li><a href="">Home</a></li>
                <li class="uk-active"><span>Post Ads</span></li>
            </ul>
       </div>
    </div>

    <!-- Category Listing -->
    <div class="uk-container uk-container-center categories-listing">
        <div class="uk-block uk-text-center">
            <h2 class="uk-text-upper">Select a categories to post</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus congue euismod ex, at sodales eros tincidunt eget
                <br> In hac habitasse platea dictumst. Nulla commodo elementum elit, et ultrices magna venenatis nec</p>
        </div>
        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{gutter: 20}">
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-car uk-margin-small-right"></i>Vehicles</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="post-ad.html">Bikes</a></li>
                        <li><a href="">Automotive Items & Parts</a></li>
                        <li><a href="">Boats & Watercraft</a></li>
                        <li><a href="">Cars</a></li>
                        <li><a href="">Classic Cars</a></li>
                        <li><a href="">Motorcycles</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-home uk-margin-small-right"></i>For Rent</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="">Apartments</a></li>
                        <li><a href="">Commercial Lease</a></li>
                        <li><a href="">Condos For Rent</a></li>
                        <li><a href="">Housing Wanted</a></li>
                        <li><a href="">Mobile Homes For Rent</a></li>
                        <li><a href="">Roommates</a></li>
                        <li><a href="">Townhomes For Rent</a></li>
                        <li><a href="">Vacation Homes</a></li>

                    </ul>
                </div>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-suitcase uk-margin-small-right"></i>Jobs</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="">Accounting & Bookkeeping Jobs</a></li>
                        <li><a href="">Business Opportunities</a></li>
                        <li><a href="">Cleaning Jobs</a></li>
                        <li><a href="">Construction Work</a></li>
                        <li><a href="">Creative Jobs</a></li>
                        <li><a href="">Educational Jobs</a></li>
                        <li><a href="">Financial & Real Estate Jobs</a></li>
                        <li><a href="">IT Jobs</a></li>
                        <li><a href="">Labor Jobs</a></li>
                        <li><a href="">Legal Jobs</a></li>
                        <li><a href="">Office Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-tags uk-margin-small-right"></i> Items for Sale</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="">Art & Crafts</a></li>
                        <li><a href="">Automotive Items & Parts</a></li>
                        <li><a href="">Bicycles</a></li>
                        <li><a href="">Books & Magazines</a></li>
                        <li><a href="">Clothing & Apparel</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-laptop uk-margin-small-right"></i>Electronics</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="">Sound & Vision</a></li>
                        <li><a href="">Computers</a></li>
                        <li><a href="">Video Games & Consoles</a></li>
                        <li><a href="">Cameras & Photo</a></li>
                        <li><a href="">Televisions</a></li>
                        <li><a href="">Car Electronics </a></li>
                        <li><a href="">Other Computing </a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title"><i class="uk-icon-*"></i>Fashion & Accessories</h3>
                <div class="uk-panel-box">
                    <ul class="uk-list uk-list-space">
                        <li><a href="">Fashion Woman </a></li>
                        <li><a href="">Women's Bags </a></li>
                        <li><a href="">Jewelry & Watches</a></li>
                        <li><a href="">Fashion Men</a></li>
                        <li><a href="">Belts</a></li>
                        <li><a href="">Glasses </a></li>
                        <li><a href="">Watches  </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="footer" class="uk-container uk-container-center uk-text-center">
            <ul class="uk-list">
                <li><a href="">About us</a></li> |
                <li><a href="">Help</a></li> |
                <li><a href="">Privacy policy</a></li> |
                <li><a href="">Terms of use</a></li> |
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </footer>

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/plugins/selectric/jquery.selectric.min.js"></script>
    <script src="js/components/grid.js"></script>
    <script src="js/components/slideset.js"></script>


    <script src="js/main.js"></script>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>